

.element__color1 {
   background-color: black;
   width: 25px;
   height: 25px;
   margin: 0 auto;
   border-radius: 50%;
   color: white;
 }
 
 .element__color2 {
   border-radius: 50%;
   width: 20px;
   height: 20px;
    background-color: grey; 
 }
 
 .element__color3 {
    background-color: black; 
 }
 
 .element__color1 {
    background-color: black; 
 }
 
 .element__color1 {
    background-color: black; 
 }
 
 .element__color1 {
    background-color: black; 
 }
 
 .element__color1 {
    background-color: black; 
 }
 
 .element__color1 {
    background-color: black; 
 }